<div class="job-board">
    <h1>Hacker News Jobs Board</h1>
  
    <div class="top">
        <div>
      <input
        type="text"
        [(ngModel)]="filterText"
        (ngModelChange)="onFilterChange()"
        placeholder="Filter by title"
      />
      <!-- <input
        type="date"
        [(ngModel)]="filterDate"
        (ngModelChange)="onFilterChange()"
        placeholder="Filter by date"
      /> -->
        </div>

        <div class="user">
          <a class="log" routerLink="/login">Login</a>
          <a class="reg" routerLink="/register">Register</a>
        </div>

    </div>

    <ul>
      <li *ngFor="let job of (filteredJobs.length ? filteredJobs : jobService.jobs())">
        <h2>
          <a *ngIf="job.url; else noLink" [href]="job.url" target="_blank">{{ job.title }}</a>
          <ng-template #noLink>{{ job.title }}</ng-template>
        </h2>
        <p>{{ job.time | date:'medium'}}</p>
      </li>
    </ul>
  
    
    <button *ngIf="jobService.jobs().length % limit === 0" (click)="loadMore()">Load More</button>
  </div>
